.articles-container {
  padding: 20px;
  background-color: #1a1a1a; 
  color: #d7dadc;
}

.articles-list {
  list-style-type: none;
  padding: 0;
}

.article-card {
  background-color: #292929;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.article-card:hover {
  background-color: #2e2e2e;
}

.article-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px; 
}

.article-actions button {
  background-color: transparent;
  color: #d7dadc;
  border: 1px solid #d7dadc; 
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 5px; 
}

.article-actions button[disabled],
.article-actions button[disabled]:hover {
  color: #555;
  border-color: #555; 
  cursor: not-allowed;
}

.article-actions button::before,
.article-actions button::after {
  display: none; 
}

.read-more-link {
  color: #0079d3;

  padding-bottom: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}
