.articles-container {
  padding: 20px;
}

.articles-list {
  list-style-type: none;
  padding: 0;
}

.article-card {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}

.article-card-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.article-title {
  margin: 0;
}

.article-content {
  padding: 5x;
}

.article-actions {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.article-actions button {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.read-more-link {
  display: flex;
  justify-content: center;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}



